<form id="select-account-form" [formGroup]="selectAccountFormGroup" (ngSubmit)="sendAccounts()">
        <mat-grid-list *ngIf="consent !== undefined " cols="2" rowHeight="100px">
                <mat-grid-tile *ngFor="let account of consent.accounts">
                        <mat-card>
                                <mat-checkbox class="example-margin" 
                                (change)="onClickCheckBox(account)"
                                [value]="account.checked"
                                        labelPosition="after"
                                        [disabled]="account.disabled">
                                        <table *ngIf="account !== undefined">
                                                <tr *ngIf="account.iban !== undefined">
                                                        <td>
                                                                {{account.iban}}
                                                        </td>
                                                </tr>
                                                <tr *ngIf="account.currency !== undefined">
                                                        <td class="value">{{account.currency}}
                                                        </td>
                                                </tr>
                                                <tr *ngIf="account.product !== undefined">
                                                        <td class="value">{{account.product}}
                                                        </td>
                                                </tr>
                                                <tr *ngIf="account.cashAccountType !== undefined">
                                                        <td class="value">{{account.cashAccountType}}
                                                        </td>
                                                </tr>
                                                <tr *ngIf="account.name !== undefined">
                                                        <td class="value">{{account.name}}
                                                        </td>
                                                </tr>
                                        </table>
                                </mat-checkbox>
                        </mat-card>
                </mat-grid-tile>
        </mat-grid-list>
        <a mat-button ><mat-icon aria-hidden="false" aria-label="Example home icon">error_outline</mat-icon> <b>Revisar Informacion Compartida</b></a>
        <p *ngIf="consent !== undefined" style="color: #b5b9c1;">Este acceso tendrá vigencia hasta el: {{consent.validUntil | date:'fullDate':'UTC +1'}}</p>
        <app-button-bar-cancel-and-continue [formGroup]="selectAccountFormGroup"></app-button-bar-cancel-and-continue>
</form>